.menuContainer {
  height: 11vh;
}

.upperRange {
  background-color: #222222;
  height: 25%;
  width: 100vw;
}

.menuArea {
  background-color: #FFFFFF;
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.menuTitle {
  margin-left: 6em;
  font-size: larger;
  padding: 1em;
}

ul {
  display: flex;
  list-style: none;
  padding-right: 8em;
}

li {
  padding: 1em;
}